# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\gitEVG\py_test\py_testing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
